.logo {
    color: red;
    
}

h1 {
    font-size: 60px;
}

/* .card{
    align-content: left;
    text-align: right;
    padding: auto;
    margin-left: px;
}

#blogform {
    justify-self: center;
}

form {
    justify-content: center;
    text-align: right;
} */